In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Madison,US,2022-02-11 22:48:07,34.7334,-86.5667,67.42,29,0,14.00
1,1,Mizan Teferi,ET,2022-02-11 22:48:08,6.9833,35.5833,67.96,56,77,3.00
2,2,Ulaanbaatar,MN,2022-02-11 22:47:02,47.9077,106.8832,-30.87,68,0,4.47
3,3,Georgetown,MY,2022-02-11 22:46:12,5.4112,100.3354,76.95,95,20,2.30
4,4,Busselton,AU,2022-02-11 22:48:09,-33.6500,115.3333,58.08,85,27,5.08

In [3]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Georgetown,MY,2022-02-11 22:46:12,5.4112,100.3354,76.95,95,20,2.30
10,10,Altos,BR,2022-02-11 22:48:11,-5.0381,-42.4600,82.71,94,100,4.72
12,12,Faanui,PF,2022-02-11 22:48:12,-16.4833,-151.7500,81.91,71,58,13.56
13,13,Kokopo,PG,2022-02-11 22:48:12,-4.3520,152.2633,80.13,81,100,4.03
18,18,Vaini,TO,2022-02-11 22:48:14,-21.2000,-175.2000,86.16,84,40,8.05
21,21,Natal,BR,2022-02-11 22:46:45,-5.7950,-35.2094,83.05,78,40,9.22
25,25,Camocim,BR,2022-02-11 22:48:17,-2.9022,-40.8411,77.43,87,84,11.99
26,26,Olinda,BR,2022-02-11 22:48:18,-8.0089,-34.8553,83.93,74,20,6.91
33,33,Kapaa,US,2022-02-11 22:48:21,22.0752,-159.3190,81.48,62,0,5.75
39,39,Dargaville,NZ,2022-02-11 22:48:23,-35.9333,173.8833,83.44,67,97,13.38

In [22]:
preferred_cities_df.count()

City_ID       151
City          151
Country       150
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3   Georgetown      MY     76.95   5.4112  100.3354
10       Altos      BR     82.71  -5.0381  -42.4600
12      Faanui      PF     81.91 -16.4833 -151.7500
13      Kokopo      PG     80.13  -4.3520  152.2633
18       Vaini      TO     86.16 -21.2000 -175.2000
21       Natal      BR     83.05  -5.7950  -35.2094
25     Camocim      BR     77.43  -2.9022  -40.8411
26      Olinda      BR     83.93  -8.0089  -34.8553
33       Kapaa      US     81.48  22.0752 -159.3190
39  Dargaville      NZ     83.44 -35.9333  173.8833

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
10,Altos,BR,82.71,-5.0381,-42.4600,Pousada Das Aguias
12,Faanui,PF,81.91,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
13,Kokopo,PG,80.13,-4.3520,152.2633,Kokopo Beach Bungalow Resort
18,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))